# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Notebook
.ipynb_checkpoints/

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Model
*.pth
*.pt
*.ckpt

# Dataset
dataset/